.container {
  width: 220px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.flag_img {
  width: 100%;
  height: 150px;

  position: relative;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}
