.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.header .commonName {
  font-size: 30px;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
